<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <input type="number" placeholder="Number Of Tickets" name="tickets">
        <select name="singer" placeholder="Which Artist?">
            <option selected>Raxtar (3:30 pm)</option>
            <option>Emiway Bantai (4:20 pm)</option>
            <option> Bohemia (5:20 pm)</option>
            <option>Sukh-E (6:00 pm)</option>
            <option>KR$NA (7:00 pm)</option>
            <option>Raftaar (7:50 pm)</option>
            <option>Divine (8:45 pm)</option>
            <option>NAV (10:00 pm)</option>
            <option>Yo Yo Honey Singh And Badshah (11:00 pm)</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>